@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: white;
}
header {
  height: 15vh;
  width: 100%;
}
.nav {
  background-color: black;
  height: 14vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  float: left;
}

a:hover {
  background-color: #555;
}

nav .btn1 {
  width: 120px;
  height: 45px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: coral;
  border-radius: 15px;
  border: none;
}
#btn2:active {
  background-color: #ecc35e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#btn2:hover {
  cursor: grab;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.nav .logo {
  float: left;
  display: block;
  padding: 14.5px 16px;
}
.nav img {
  height: auto;
  width: 40%;
}
.nav .mainlist {
  width: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.menu-icon {
  display: none;
  float: right;
  padding: 14px 16px;
  cursor: pointer;
  color: #fff;
}
.div1 {
  height: 120vh;
  width: 100%;
  /* position:sticky; */
}
.div1 .container .col-md-6 {
  display: flex;
  justify-content: start;
}
.div1 .container .col-md-6 img {
  /* padding-top: 5%; */
  height: 50%;
  width: 100%;
}
.div1 .container .col-md-6 .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 10%;
}
.div1 .container .col-md-6 .text .text-2 {
  width: 180px;
  font-size: 50px;
}
.div1 .container .col-md-6 .text .text-3 {
  text-align: justify;
}
.div1 .container .col-md-6 .text-4 {
  text-align: end;
  width: 200px;
  margin: 2% 0% 0% 10%;
  font-size: larger;
  font-weight: bolder;
}
.div1 .container .col-md-6 .btn1 {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 5% 0% 5% 10%;
  background-color: coral;
  border-radius: 15px;
  align-items: center;
  border: none;
}
.div2 {
  height: 70vh;
  width: 100%;
}
.div2 .our-services {
  height: 10vh;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
.div2 .container .row {
  display: flex;
  justify-content: space-around;
}
.div2 .container .row .card {
  height: 60vh;
  background-color: black;
  padding: 6%;
}
.div2 .container .row .card img {
  height: 50%;
}
.div2 .container .row .card h2 {
  text-align: center;
  margin-top: 2rem;
  color: white;
}
.div2 .container .row .card p {
  text-align: center;
  margin-top: 2rem;
  color: white;
}
.div3 {
  /* background-color: #fff; */
  height: 70vh;
  margin-left: 10em;
}
.div3 .container .row #aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div3 .container .row .col-md-6 {
  height: 60vh;
}
.div3 .container .row .col-md-6 .btn1 {
  background-color: coral;
  border-radius: 15px;
  align-items: center;
  border: none;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.div3 .container .row #aboutusimg {
  background-image: url(images/about-img\ 2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.div3 .container .row #aboutus h1 {
  padding: 5% 0%;
}
.div3 .container .row #aboutus p {
  padding: 5% 0%;
  width: 30rem;
}
.div4 {
  height: 100vh;
}
.div4 .premium-menu {
  height: 12vh;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
.div4 .container .row {
  justify-content: center;
}
.div4 .container #row-1 .card {
  background-color: black;
  /* border: 1px solid rgb(216, 32, 32); */
  height: 40vh;
  width: 20em;
  align-items: center;
}
.div4 .container #row-2 .card {
  background-color: black;
  /* border: 1px solid rgb(165, 35, 35); */
  height: 40vh;
  width: 20em;
  align-items: center;
  margin-top: 1em;
}
.div4 .container .row img {
  justify-content: center;
  height: 60%;
  width: 60%;
}
.div4 .container .row .card h4 {
  color: white;
  padding-top: 1em;
}
.div4 .container .row .card h6 {
  color: white;
}
.div5 {
  height: 55vh;
}
.div5 .container .row .col-md-6 {
  height: 50vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.div5 .container .row #discount {
  display: flex;
  justify-content: center;
}
.div5 .container .row p {
  text-align: center;
  font-size: xx-large;
  justify-content: center;
}
.div5 .container .row .btn1 {
  background-color: coral;
  border-radius: 15px;
  border: none;
  width: 200px;
  height: 60px;
}
.div6 {
  height: 50vh;
}
.div6 .new-arrival {
  height: 12vh;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  align-items: center;
}
.div6 .container .row {
  display: flex;
  justify-content: center;
}
.div6 .container .row img {
  justify-content: center;
  height: 35%;
  width: 50%;
}
.div6 .container .row .card {
  background-color: black;
  height: 40vh;
  width: 20em;
  align-items: center;
  color: white;
  justify-content: center;
}
.div6 .container .row .card h4 {
  padding-top: 1em;
}
footer {
  height: 30vh;
}
#image {
  height: 100%;
  width: 50%;
}
#logos {
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  nav a {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon:hover {
    background-color: #444;
  }

  .responsive-links {
    overflow: hidden;
  }

  .responsive-links a {
    display: block;
    text-align: left;
  }
}
